.nOne {
  width: 24vw;
}
.nTwo {
  width: 23vw;
}
.nThree {
  width: 10vw;
}
.nFour {
  width: 15vw;
}
.nFive {
  width: 14vw;
}
.nSix {
  width: 14vw;
}

.dOne {
  width: 30vw;
}
.dTwo {
  width: 10vw;
}
.dThree {
  width: 30vw;
}
.dFour {
  width: 30vw;
}

.tableheader {
  border-bottom: 0.05em solid lightgrey;
}
.tablefooter {
  border-top: 0.1em solid lightgrey;
  border-bottom: 0.1em solid lightgrey;
}
.alternate {
  background-color: #FFFBE6;
}
