<ion-header>
  <ion-navbar>
    <ion-title style="font-family: tarrget; text-align: center">{{game}}</ion-title>
    <ion-title style="font-family: tarrget; text-align: center">{{character.fullname}}</ion-title>
    <ion-buttons end>
      <button (click)="presentLegend()">
        <ion-icon name="information-circle" style="font-size: 2.5em"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- All info -->
  <div *ngIf="arts.length">
    <ion-list *ngFor="let art of arts; let k=index">
      <!-- Art Header -->
      <ion-list-header style="text-align: center; font-family: tarrget; font-size: 2em" (click)="clickedArt(k)">
        {{art.art}}
      </ion-list-header>
      <div [hidden]="shouldHideArt(k)">
        <!-- Table header -->
        <div class="tableheader">
          <ion-row *ngIf="art.header.length" >
            <div *ngFor="let headItem of art.header; let i=index" >
              <ion-col class="{{getColWidth(k, i)}}">
                {{headItem}}
              </ion-col>
            </div>
          </ion-row>
        </div>
        <!-- Table body -->
        <div *ngIf="art.moves.length">
          <div *ngFor="let move of art.moves; let l=index">
            <ion-row *ngIf="move.length" class="{{calcRowColor(l)}}">
              <div *ngFor="let c of move; let j=index">
                <ion-col class="{{getColWidth(k, j)}}">
                  {{c}}
                </ion-col>
              </div>
            </ion-row>
          </div>
        </div>
        <!-- Footnotes -->
        <div *ngIf="art.footnotes.length" class="tablefooter">
          <ion-row *ngFor="let footnote of art.footnotes" style="margin-top:0.5em; margin-bottom:0.5em">
            <p style="margin:0; padding:0">{{footnote}}</p>
          </ion-row>
        </div>
      </div>

    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-list-header style="text-align:center">Author: {{character.author}}. © {{character.copyright}}</ion-list-header>
</ion-footer>
