<ion-header>
  <ion-navbar>
    <ion-title style="font-family: tarrget; text-align: center">{{game}}</ion-title>
    <ion-title style="font-family: tarrget; text-align: center">Character Select</ion-title>
    <ion-buttons end>
      <button round (click)="toggleSearchBar()">
        <ion-icon name="search" style="font-size: 2.5em"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="gender" red style="background-color: #f8f8f8">
    <ion-segment-button value="Male" style="color: #387ef5">
      <ion-icon name="Male"></ion-icon>
      Male
    </ion-segment-button>
    <ion-segment-button value="Female" style="color: #f53d3d">
      <ion-icon name="Female"></ion-icon>
      Female
    </ion-segment-button>
    <ion-segment-button value="Non-Human" style="color: #222">
      Non-Human
    </ion-segment-button>
    <ion-segment-button value="All" style="color: #9e6fd4">
      All
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" [hidden]="hideSearchBar()"></ion-searchbar>
  <div [ngSwitch]="gender">
    <ion-grid >
      <ion-row wrap *ngIf="characters.length">
        <ion-col width-25 *ngFor="let character of characters" (click)="advance(character)" [hidden]="hideSeg(gender,character.sex)">
          <ion-card style="padding: 0; text-align:center; margin: 0; width:100%" >
            <img src="assets/char_imgs/{{character.id}}.png" />
            <div style="font-family: tarrget; font-size:7px; font-size: 2.5vw; word-wrap: break-word">
              {{character.name}}
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
