<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="font-family: tarrget">{{game}} Character Select</ion-title>
    <ion-buttons primary end>
      <button round (click)="toggleSearchBar()">
        <ion-icon name="search" style="font-size: 2.5em"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="gender" >
      <ion-segment-button value="Male">
        Male
      </ion-segment-button>
      <ion-segment-button value="Female">
        Female
      </ion-segment-button>
      <ion-segment-button dark value="Non-Human">
        Non-Human
      </ion-segment-button>
      <ion-segment-button value="All">
        All
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" [hidden]="hideSearchBar()"></ion-searchbar>

  <div [ngSwitch]="gender">
    <ion-grid >
      <ion-row wrap *ngIf="characters.length">
        <ion-col width-25 *ngFor="let character of characters" (click)="advance(character)" [hidden]="hideSeg(gender,character.sex)">
          <ion-card style="padding: 0; text-align:center; margin: 0; width:100%" >
            <img src="assets/char_imgs/{{character.id}}.png" />
            <div style="font-family: tarrget; font-size:7px; font-size: 2.5vw; word-wrap: break-word">
              {{character.name}}
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
